.san_pham{
    float: left;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
}
a{
    font-size: 20px;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a:hover{
    color: aqua;
}