*{
    box-sizing: border-box;
}

#main{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
#menu{
    display: flex;
}
#menu a{
    color: black;
}
#menu a:hover{
    color: greenyellow;
}
.menu{
    width: 100px;
    margin: auto;
}
.san_pham{
    float: left;
    width: 33.333333%;
}
#san_pham{
    margin-top: 30px;
}
#san_pham img{
    width: 60%;
    height: 200px;
    border-radius: 15%;
}
#san_pham a{
    color: green;
}
#san_pham a:hover{
    color: aqua;
}
#banner img{
    width: 100%;
    height: 250px;
}
a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}